Package: com.dunkston.censorsender
Name: CensorSender
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Censors the sender in your notifications
Maintainer: dunkston
Author: dunkston
Section: Tweaks