Package: com.dunkston.censorsender
Name: CensorSender
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Censors the sender in your notifications. Currently only for iMessages and WhatsApp.
Maintainer: dunkston
Author: dunkston
Section: Tweaks